@import url('./main-layout.css');
@import url('./responsive/responsive.css');
@import url('./popover-notification-panel.css');
@import url('./fonts/stylesheet.css');
@import url('components/vaadin-upload-file.css');
@import url('components/layout.css');
@import url('themes/compact.css');
@import url('./views/read-flash/sidebar-read-flash.css');
@import url('./views/flash-view/wizard-dialog/wizard-dialog.css');
@import url('./views/flash-view/flash-view.css');
@import url('./views/settings-dialog/settings-dialog.css');
@import url('./views/settings-dialog/esptool-homepath-upload.css');
@import url('./views/login-view/login-view.css');
@import url('./views/error-view/error-view.css');

html {

    --lumo-size-xs: 1.5rem;
    --lumo-size-s: 1.75rem;
    --lumo-size-m: 2rem;
    --lumo-size-l: 2.5rem;
    --lumo-size-xl: 3rem;

    --lumo-space-xs: 0.1875rem;
    --lumo-space-s: 0.3125rem;
    --lumo-space-m: 0.625rem;
    --lumo-space-l: 1.25rem;
    --lumo-space-xl: 1.875rem;

    --lumo-body-text-color: hsla(214, 0%, 0%, 0.94);
    --lumo-font-family: 'Arimo', sans-serif;
    --dt-shadow-elevation-1: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    --custom-image-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --custom-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    --custom-box-shadow-avatar: var(--dt-shadow-elevation-2,0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15));
    --custom-box-shadow-vaadin-button: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    --toggle-size: 18px;
    --avatar-size-s: var(--lumo-size-s);
    --icon-svg-settings-size: 25px !important;
}

[theme~="dark"] {
    --dt-shadow-elevation-1: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    --custom-image-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --custom-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    --custom-box-shadow-2: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    --custom-box-shadow-avatar: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --custom-box-shadow-vaadin-button: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    --invert-svg: invert(1);
    --carousel-border: 1px solid var(--lumo-contrast-10pct);
    --toggle-size: 18px;
    --icon-svg-settings-size: 25px !important;
}

.xterm {
    height: 100%;
}

.xterm .xterm-viewport {
    scrollbar-width: thin;
}

vaadin-context-menu-item.context-menu-item-no-checkmark::part(checkmark)::before {
  display: none;
}

vaadin-context-menu-item.context-menu-item-no-checkmark[focused] {
    box-shadow: none;
}

vaadin-context-menu-item.context-menu-item-no-checkmark-bottom::part(checkmark)::before {
  display: none;
}

/* some indent for the content */
vaadin-context-menu-item.context-menu-item-no-checkmark {
  padding-left: var(--lumo-space-s);
  justify-content: flex-start;
}

/* some indent for the content */
vaadin-context-menu-item.context-menu-item-no-checkmark-bottom {
  padding-left: var(--lumo-space-s);
  justify-content: flex-start;
  border-top: 1px solid lavender;
  border-radius: 0px;
}

vaadin-split-layout > [slot="primary"] {
    /*none*/
}

vaadin-split-layout > [slot="secondary"] {
    /*none*/
}

.black-to-white {
  filter: var(--invert-svg);
}

vaadin-confirm-dialog-overlay::part(backdrop) {
  backdrop-filter: blur(1px);
}

vaadin-context-menu-item.context-menu-item-grid::part(checkmark)::before {
  display: none;
}

/* some indent for the content */
vaadin-context-menu-item.context-menu-item-grid {
  padding-left: var(--lumo-space-s);
  justify-content: flex-start;
}

.custom-box-shadow-vaadin-button {
  box-shadow: var(--custom-box-shadow-vaadin-button);
}

[theme~='badge'] {
    /*box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);*/
}

.span-badge-pill {
    transition: box-shadow .2s;
}

.span-badge-pill:hover {
    /*box-shadow: var(--custom-box-shadow);*/
}

.span-badge-pill:focus+within {
    background-color: var(--lumo-contrast-10pct);
}

