.warning-empty-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  height: 100%;
}

.warning-empty-grid.hidden {
  display: none;
}
