vaadin-button.settings-buttons::part(label) {
  width: 100%;
  text-align: left;
  justify-content: flex-start;
}

vaadin-button.settings-buttons:hover {
  transition: .4s;
  background-color: var(--lumo-primary-color-10pct)
}

vaadin-dialog-overlay.settings-content-dialog::part(content) {
  overflow: hidden;
}

vaadin-dialog-overlay.settings-content-dialog::part(backdrop) {
   backdrop-filter: blur(1px);
}

.hr-header-settings {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(rgb(224, 38, 11), rgb(224, 38, 11)), linear-gradient(rgb(224, 38, 11), rgb(224, 38, 11));
  background-size: 100% 3px, 100% 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.settings-button-toggle {
    display: none;
}

.nav-settings {
    display: none;
    display: flex;
    font-size: var(--lumo-font-size-s);
    position: sticky;
    top: 0;
    transition: 0.5s;
    height: 100%;
}

@media (max-width: 800px) {

   vaadin-dialog-overlay.settings-content-dialog::part(overlay) {
        width: 100%;
   }

   .main-settings {
        flex-direction: column !important;
   }

   .nav-settings {
        width: 0;
        position: absolute;
        z-index: 1;
        background: #ffffff;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
        box-shadow: var(--custom-box-shadow);
        border-radius: 9px 9px 9px;
   }

   vaadin-button .button-cross-nav-settings {
       visibility: visible;
       align-self: end;
       display: block;
   }

   #div-item-container {
        width: 100%;
        /*hidden: true;*/
   }

   .svg-icon-settings {
        width: var(--icon-svg-settings-size) !important;
        height: var(--icon-svg-settings-size) !important;
   }

   .settings-button-toggle {
        display: flex !important;
        width: 10%;
        align-self: start;
   }

   vaadin-dialog-overlay.settings-content-dialog::part(content) {
     overflow: auto;
     overflow-x: hidden;
     scrollbar-width: thin;
   }

}

