.avatar-step-inactive {
    color: black;
    border: 1px solid black;
    background-color: white;
    transition: box-shadow .2s;
    width: var(--avatar-size-s);
    height: var(--avatar-size-s);
}

.avatar-step-active {
    background: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
    transition: box-shadow .2s;
    width: var(--avatar-size-s);
    height: var(--avatar-size-s);
}

.avatar-step-active:hover {
    box-shadow: var(--custom-box-shadow-avatar);
}

.avatar-step-inactive:hover {
    box-shadow: var(--custom-box-shadow-avatar);
}

.espflow-logo-wizard {
    transition: box-shadow .2s;
}

.espflow-logo-wizard:hover {
    box-shadow: var(--custom-image-shadow);
}
