:host(.hidden-clear) [part~=clear-button] {
    /*display: none;*/
}

[part="meta"] {
    width: 100%;
}

[part="row"] {
    align-items: center;
}

@media (max-width: 400px) {
    [part="meta"] {
        flex-direction: column;
    }
}